:root {
  --main-color: #2fc1ff;
}

@font-face {
  font-family: "Karla";
  src: local("Karla-Light"),
    url("./fonts/static/Karla-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Karla-Bold";
  src: local("Karla-Bold"),
    url("./fonts/static/Karla-Bold.ttf") format("truetype");
}

/* Global */

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 0;
  background-color: var(--main-color);
  font-family: "Karla";
}

#wrapper {
  margin-left: 2.75em;
  margin-right: 2.75em;
}

.navBar {
  display: flex;
  align-items: center;
  color: white;
  font-family: "Karla";
  margin-top: 1.75rem;
}

.navLogo {
  width: 350px;
  height: auto;
}

.navLinks {
  margin-left: auto;
}

.navLinks ul {
  display: flex;
  padding: 1rem;
  background: white;
  border-radius: 10px;
}

.navLinks li {
  list-style: none;
}

.navLinks li a {
  text-decoration: none;
  color: #2fc1ff;
  font-size: 1.75rem;
  padding: 2rem;
}

.navLinks li a:hover {
  color: rgb(202, 214, 224);
}

button {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.25rem;
  color: #2fc1ff;
  background-color: white;
}

/*
Home Page 
*/

h1 {
  font-family: "Karla-Bold";
  font-size: 2.75rem;
  color: white;
}

p {
  font-size: 1.75em;
  color: white;
}

.homeSection1 {
  display: flex;
  max-width: 1200px;
  margin-top: 3em;
}

.textSection1 {
  width: 40%;
}

.imgDiv {
  width: 60%;
  margin: auto;
}

.houseAnimated {
  width: 100%;
}
