:root {
  --main-color: #2fc1ff;
  --sec-color: white;
  --content-max-width: 1100px;
  --navlinks-collapse-width: 600px;
  --page-margin: 4vw;
}

@font-face {
  font-family: "Karla";
  src: local("Karla-Light"),
    url("./fonts/static/Karla-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Karla-Bold";
  src: local("Karla-Bold"),
    url("./fonts/static/Karla-Bold.ttf") format("truetype");
}

/* Global */

body {
  padding: 0;
  margin: 0;
  max-width: var(--content-max-width);
  font-family: "Karla";
  background-color: var(--main-color);
}

strong {
  font-family: "Karla-Bold";
}

button {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.25rem;
  color: var(--main-color);
  background-color: white;
}

.wrapper {
  margin-left: var(--page-margin);
  margin-right: var(--page-margin);
}

/* Nav Bar */

.navBar {
  display: flex;
  align-items: center;
  margin-top: min(4vw, 1.75em);
}

.navLogo img {
  width: 80%;
}

.navLinks {
  margin-left: auto;
}

.navLinks ul {
  display: flex;
  padding: 1rem;
  border-radius: 10px;
  font-size: min(2.5vw, 1.75em);
  background: white;
}

.navLinks li {
  list-style: none;
}

.navLinks li a {
  text-decoration: none;
  color: var(--main-color);
  padding: 2vw;
}

.navLinks li a:hover {
  color: rgb(202, 214, 224);
}

.navLinksHidden {
  display: none;
}

.navLinksDropDown {
  display: none;
}

.toggleButton {
  position: absolute;
  top: 4.5vw;
  right: 3.75vw;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 4vw;
  height: 4vw;
  padding: 3.5vw;
  background-color: var(--sec-color);
  border-radius: 10px;
}

.toggleButton .bar {
  height: 3px;
  width: 100%;
  align-items: center;
  background-color: var(--main-color);
  border-radius: 10px;
}

/* NOTE: this dropdown menu has some redundant 
  styling for .navLinksDropDown */
@media (max-width: 600px) {
  .toggleButton {
    display: flex;
  }

  .navBar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navLinks {
    display: none;
  }

  .navLogo {
    margin-right: 5vw;
  }

  .navLinksDropDown {
    display: block;
    margin-left:0;
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }
  
  .navLinksDropDown ul {
    flex-direction: column;
    list-style: none;
    border-radius: 0;
    background: white;
    padding: 0;
    /* Needed for overiding 
    parents width constraint */
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .navLinksDropDown li {
    text-align: center;
    margin: 0.3em;
    font-size: 1.35em;
  }

  .navLinksDropDown li a {
    text-decoration: none;
    color: var(--main-color);
    padding: 0.3em;
  }
}

/*
Home Page 
*/

h1 {
  font-family: "Karla-Bold";
  font-size: min(4em, 5.5vw);
  color: white;
}

p {
  font-size: min(2em, 2.75vw);
  color: white;
}

.homeSection1 {
  display: flex;
  margin-top: min(3em, 5vw);
}

.textSection1 {
  width: 40%;
}

.imgDiv {
  width: 60%;
  margin: auto;
}

.houseAnimated {
  width: 100%;
}
